### p52

### 파이썬 기초
- 3.1 기본변수
- 3.2 랜덤숫자
- 3.3 Numpy

### 3.1. 기본 변수
### 정수, 소수, 문자열, 논리값
### < 실습 : gg-01-파이썬기초>
- 정수(int), 부동소수(float), 문자(strings), 불리언(True/False),
- 리스트[list], 튜풀(tuple), 사전{dictionary}->{dict}, for문, if문
- 배정("=")기호 - assign

### " = " : 값 배정, 대입, 할당(assign)의 의미

- k=3
- s='사랑'
- kk='3

# 변수(Variable)

- 데이터(data)를 저장할 수 있는 메모리 공간
### 변수 이름

- 변수의 이름은 영문자(대소문자), 숫자, 언더스코어(_)로만 구성.
- 변수의 이름은 숫자로 시작될 수 없음.
- 변수의 이름 사이에는 공백을 포함할 수 없음.
- 변수의 이름으로 언어에서 미리 정의된 키워드(keyword)는 사용할 수 없음.

- 변수(Variable)

In [173]:
aa=9

In [174]:
aa

9

In [175]:
aa=99
aa

99

In [176]:
#;(세미콜론의 의미 : 프로그램 종료)
aaa = 999 ; aaa

999

In [177]:
kk = 22
ss = 33

In [178]:
kk

22

In [179]:
ss

33

In [180]:
#두 개를 한 번에 실행해보고 싶다
kk
ss
#변수를 실행시켜주면 최종 마지막 변수만 실행된다.

33

In [181]:
# print를 사용해서 두 가지 같이 출력
print(kk)
print(ss)

22
33

In [182]:
#변수 지정에 이러한 방식도 있다. 
#앞부터 순서대로 할당됨.
k,s,r =20,30,50

In [183]:
print(k,s,r)

20 30 50

In [184]:
k

20

In [185]:
s

30

In [186]:
r

50

In [187]:
k
s
r # 마지막 변수만 실행 , # -> 주석

50

In [188]:
#주석(comment)
#print()함수 <- 전체출력

print(k)
print(s)
print(r)

20
30
50

###  " = "    : 값 배정, 할당(assign)의 의미

In [189]:
a =0.5
x=3
y=True   #True,False 대소문자 구분
z='박준규'

print(a,x,y,z)

0.5 3 True 박준규

- 주석(comment) 
- 블록 주석 설정, 해제 
    - jupyter notebook : 'Ctrl + /'  
    - python(IDLE) : 'Alt + 3', 'Alt +4'

## print() 함수

In [190]:
# 주석(comment)
# print()함수 : 출력
# 만든날짜 : 2023.07.03
# 만든이 : 박준규

study='DSACM1'

print(study)

DSACM1

- 문자열 출력

In [191]:
print("1. 문자열 출력")# " "

1. 문자열 출력

In [192]:
print('2. 문자열 출력')# ' '

2. 문자열 출력

In [193]:
#오류 발생
print('3.문자열
출력 연습
입니다')

SyntaxError: unterminated string literal (detected at line 2) (572567093.py, line 2)

In [194]:
#''는 행마다 따운표가 필요함. 
#내가 원하는 모양대로 출력하려 할 땐 따운표 3개씩 해주길
print('''3.문자열
출력 연습
입니다''')

3.문자열
출력 연습
입니다

In [195]:
print(''' 5."문자열"
출력 연습
입니다''')

 5."문자열"
출력 연습
입니다

In [196]:
print(""" 5.'문자열'
출력 연습
입니다""")

 5.'문자열'
출력 연습
입니다

In [197]:
# 변수와 문자
study = "DSACM1"

print(study)  # 변수 출력
print("study")  # 문자열 출력

DSACM1
study

In [198]:
multi = '''이것은 여러 줄로
구성된 문자열을 표시하기 위한
방법입니다.'''

In [199]:
print(multi)

이것은 여러 줄로
구성된 문자열을 표시하기 위한
방법입니다.

- 연결(+/,)연산자
    - +는 문자열끼리만 연결됨
    - ,는 문자든 숫자든 다 연결됨

In [200]:
print("안녕 나는" + "파이썬이고", "20"+"세 입니다.")

안녕 나는파이썬이고 20세 입니다.

In [201]:
print("안녕 나는" , "파이썬이고", 20 ,"세 입니다.")

안녕 나는 파이썬이고 20 세 입니다.

In [202]:
#오류 발생
#숫자 앞 뒤 , 로 연결해줘야함
print("안녕 나는" + "파이썬이고", 20 +"세 입니다.")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [203]:
#변수안에 자료가 들어가 있으니 + 말고 ,로 해줘야함
print("안녕 나는" + "파이썬이고", study ,"세 입니다.")

안녕 나는파이썬이고 DSACM1 세 입니다.

# print()의 % 인자

In [204]:
# print()함수 : 출력
# 만든날짜 : 2023.07.03
# 만든이 : 박준규

# %s 문자 %d : 숫자

print('학교: %s 과정: %s 인원: %d  장소: %s' %('한국대학교','DSACM1',30,'좋은캠퍼스'))  # %인자 ' , ' 없음

학교: 한국대학교 과정: DSACM1 인원: 30  장소: 좋은캠퍼스

In [205]:
print("%d%d%d" %(100,200,300))

#%10d 10의미 : 총 10자리 숫자를 만들어라. 10자리 중에 100을 오른쪽 정렬한다.
print("%10d" %(100))   

# 앞에 0을 넣어 오른쪽 정렬
print("%010d" %(100)) 

#-는 왼쪽 정렬
print("%-10d" %(100))

100200300
       100
0000000100
100

In [206]:
print("%f" %(3.14156))    
#1자리
print("%.1f" %(3.14156))
#2자리
print("%.2f" %(3.14156))
#3자리
print("%.3f" %(3.14156))

3.141560
3.1
3.14
3.142

# 논리값

In [207]:
# 논리값 T, F 반듯이 대문자, 대소문자 구분
# and -> "&", or -> "|"
h = True  # True : 1 , False : 0
k = False

print(h & k)  # 둘 모두 참일때 True
print(h | k)  # 둘 중 어느하나 참이면 True

False
True

In [208]:
#h - True - 1
#k - False - 0
h + 3 + k

4

In [209]:
print(h+h+h+10+h+h)

15

In [210]:
#x=3 ,y=1
print(x+y)

4

### ☞ 리스트(list)  -> [ ]
- 여러 항목의 집합체로 각 항목의 타입은 서로 달라도 된다.
- 리스트를 만들려면 대괄호 [      ]를 사용하고 각 항목을 ','로 구분한다
- 자료 추가 삭제 변경 가능

In [211]:
#변수에 대한 할당(배정)값 출력
list_1=[x,y,z]
print(list_1)

[3, True, '박준규']

In [212]:
#''를 통해 문자열을 리스트안에 넣어줌
list_2=['x','y','z']
print(list_2)

['x', 'y', 'z']

# len(): 항목의 갯수(문자열 길이)

In [213]:
#항목의 갯수
#M1 시험에 이제부터 나오나봄..?
print(len(list_1))

3

In [214]:
#쥬피터노트북에서 파이썬의 형태를 그대로 쓸 수 있음
>>> a=[1,2,3,4,5]
>>> len(a)

5

# in
- 리스트 내에 어떤 항목이 들어 있는지 유무 확인

In [215]:
list_1

[3, True, '박준규']

In [216]:
#in : 항목이 들어있는지의 유무 확인(True/False)
print(3 in list_1)
print(4 in list_1)

True
False

In [217]:
#문자열로 되어있어서 없음
print('3' in list_1)

False

# 예제

In [218]:
#list 자료 
exam=[1,2,100,'2',4,5,'kim','lee']
exam

[1, 2, 100, '2', 4, 5, 'kim', 'lee']

In [219]:
#항목의 갯수
print(len(exam))

8

In [220]:
#in 항목이 들어있는지의 유무
print(4 in exam)
print(5 in exam)
print('4' in exam)
print('5' in exam)

True
True
False
False

###### M1 자격증 시험에 len이 잘 나오나봄

In [221]:
# 대소문자 구분함
print('kim' in exam)
print('Kim' in exam)

True
False

In [222]:
#숫자 문자형 구분 
print(2 in exam)
print('2' in exam)

True
True

- 리스트 항목추가

In [223]:
list_a=[3,True,'박준규']
list_a

[3, True, '박준규']

In [224]:
#자료 항목 추가
#변수명.append():리스트 내용(원본)이 바뀜
list_a.append(100)

In [225]:
#확인
list_a

[3, True, '박준규', 100]

### ☞ 인덱스 번호
- list=[1,2,'가','나','다']
- 0번 인덱스 : 1
- 2번 인덱스 : 가
- 4번 인덱스 : 다
- -1 인덱스 : 다

- 자료추가 -> 변수명.append(자료) 자료: 숫자(2), 문자('sdf'), 맨뒤애 실행 할때 마다 추가됨// 원본자료가 변경됨
- 자료추가 -> 변수명.insert(인덱스,자료) : 인덱스 위치, 자료
- 자료삭제 -> 변수명.remove(자료) : 삭제하고자 하는 값이 여러 개가 있다면, 첫 번째 값에 대해서만 삭제한다.
- 자료삭제(인덱스) -> del 변수명[인덱스번호] -> [0]: 첫벉째~, 마지막 [-1]

In [226]:
items=[1,2,100,4,5,'kim','lee']
items

[1, 2, 100, 4, 5, 'kim', 'lee']

In [227]:
#변수명.append(자료): 원본자료가 변경됨
items.append(6) # list에서는 .add 불가 (set 자료형에 실행)
items

[1, 2, 100, 4, 5, 'kim', 'lee', 6]

In [228]:
items.append('lee')
items

[1, 2, 100, 4, 5, 'kim', 'lee', 6, 'lee']

In [229]:
#변수명.insert(인덱스번호,자료)
#5번째에 6을 추가
items.insert(5,6) # 인덱스번호 위치에 자료 추가
items

[1, 2, 100, 4, 5, 6, 'kim', 'lee', 6, 'lee']

In [230]:
items.insert(7,'bark')
items

[1, 2, 100, 4, 5, 6, 'kim', 'bark', 'lee', 6, 'lee']

In [231]:
#변수명.remove(자료), 중복된 자료 삭제시 앞에있는 자료 삭제
items.remove(6)
items

[1, 2, 100, 4, 5, 'kim', 'bark', 'lee', 6, 'lee']

In [232]:
#중복된 자료 삭제시 앞선자료 삭제
items.remove('lee')
items

[1, 2, 100, 4, 5, 'kim', 'bark', 6, 'lee']

In [233]:
#인덱스 번호로 삭제(list) : 
#drop(): 행과 열을 삭제 
del items[3]
items

[1, 2, 100, 5, 'kim', 'bark', 6, 'lee']

### ☞ 슬라이스(slice), 변수명[ : ] ,  [  :  : ] ,  변수명 [    :   ,    :     ]    -> [ 행 , 열 ]
 - " : "의 의미 : ~ 시작에서부터 : ~ n-1 까지 : step
 - step : 생략 가능(1)

In [234]:
items3=[1,2,100,4,5,'kim','lee']
items3

[1, 2, 100, 4, 5, 'kim', 'lee']

In [236]:
#앞에부터 뒤 -1 까지 뽑아옴
items3[0:3]

[1, 2, 100]

In [239]:
#0 ~ 4 까지 0 1 3 뽑아옴 / 2step 슬라이스
items3[0:5:2]

[1, 100, 5]

In [241]:
#앞에 0인 경우 생략 가능 
items3[:2]

[1, 2]

In [242]:
items3[2:3]

[100]

In [243]:
items3[:3]

[1, 2, 100]

In [245]:
items3[2:]

[100, 4, 5, 'kim', 'lee']

In [ ]:
#뒤에서 부터 인덱싱할 때는 '-'마이너스 부호를 사용한다.

In [250]:
items3[-1]

'lee'

In [253]:
items3[-3]

5

In [255]:
#2부터 -2 인덱스 까지 그래서 lee 말고 kim부터임
items3[2:-1]

[100, 4, 5, 'kim']

In [256]:
items3[3:-2]

[4, 5]

In [257]:
#처음부터 끝까지 2steps
items3[ : :2]

[1, 100, 5, 'lee']

In [259]:
#1부터 -3까지 2steps
items3[1:-2:2]

[2, 4]

### ☞ range() -> range(1,10,2)
- range(start,stop,[step])
- start : 시작 생략가능(생략 0번) 번호,
- stop-1까지 : 종료 번호의 자료,
- step : 생략가능 : 기본 1, -1(감소

In [260]:
x1=range(10)
x1

range(0, 10)

In [261]:
#range자료를 -> list로 변환 
x2=list(range(10))
x2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [265]:
x3=range(10,20,2)
x3

range(10, 20, 2)

In [263]:
#초기값과 간격을 임의로 설정
x3=list(range(10,20,2))
x3

[10, 12, 14, 16, 18]

In [266]:
#들여쓰기(indent)-P.64
#x3에 있는 값을 i에 넣고 반복해서 출력해라.

for i in x3: # 반드시 : 필요 , 들여쓰기
    print(i) #결과 출력

10
12
14
16
18

In [267]:
# 특정 인덱스 위치 의 값을 얻는 방법

print(x3[0]) # [0] 인덱스 위치 값 10
print(x3[1]) # [1] 인덱스 위치 값 12
print(x3[2]) # [2] 인덱스 위치 값 14
print(x3[-1]) # [-1] 인덱스 위치 값 18
print(x3[-2]) # [-2] 인덱스 위치 값 16

10
12
14
18
16

In [268]:
x=range(1,20,2)

for i in x:
    print(i*10)

10
30
50
70
90
110
130
150
170
190

# 리스트 내부 for

In [269]:
#리스트 내부 for
list_2=[x*10 for x in range(5)]
print(list_2)

[0, 10, 20, 30, 40]

# 튜플(tuple)

In [235]:
#인덱스 , 슬라이스 빅 중요 라고 하심 
#range - 자료생성
# 인덱스 슬라이싱 자료추출 

#슬라이스/ range 빅 하이라이트